<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">agileTrello</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-pills">
                <li ng-show="!trello.authenticated"><a ng-click="loginToTrello()" href="">Login to Trello</a></li>
                <li ng-show="trello.authenticated"><a ng-click="logout()" href="">Logout</a></li>
                <li><a target="_blank" href="https://trello.com/b/NCQhvlLr/agiletrello">Our backlog <i class="fa fa-external-link"></i></a></li>
                <li><a target="_blank" href="https://github.com/rmaclean/agileTrello">Contribute <i class="fa fa-external-link"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row" ng-show="trello.authenticated">
    <div class="col-md-12">
        <div class="form-group">
            <label for="board">Board</label>
            <select id="board" ng-options="board.name for board in boards" ng-model="selectedBoard"></select><i ng-show="trello.authenticated" class="fa fa-refresh fa-lg iconButton iconButtonRefresh" ng-click="refresh()"></i><i ng-show="trello.authenticated" class="fa fa-cogs fa-lg iconButton iconButtonRefresh"></i>
        </div>
    </div>
</div>

<div class="row" ng-show="trello.authenticated">
    <div ng-repeat="chart in charts track by $index" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div>{{chart.label}}</div>
        <linechart options="chart" data="chart.data" height="200"></linechart>
    </div>
</div>

<div class="row" ng-show="trello.authenticated">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover sprintTable">
            <thead>
                <tr>
                    <th ng-repeat="list in lists.lists">
                        <div>{{list.name}}</div>
                        <div class="date">{{list.info.sprintStartDate}} - {{list.info.sprintEndDate}}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="list in lists.lists">
                        <table class="table table-striped table-hover infoBlock">
                            <tbody>
                                <tr><td colspan="2" class="infoBlockTitle">Cards</td><td colspan="2">{{list.info.cards | number:0}}</td></tr>
                                <tr><td>&nbsp;</td><td class="infoBlockTitle">Est.</td><td class="infoBlockTitle">Used</td><td class="infoBlockTitle">Diff.</td></tr>
                                <tr><td class="infoBlockTitle">Sum</td><td class="estimated">{{list.estimate | number:2}}</td><td class="used">{{list.used | number:2}}</td><td class="triforce" triforceorder="positive" triforcevalue="{{list.info.difference}}">{{list.info.difference | number:2}}</td></tr>
                                <tr><td class="infoBlockTitle">Average</td><td class="estimated">{{list.info.avgEstimate | number:2}}</td><td class="used">{{list.info.avgUsed | number:2}}</td><td class="triforce" triforceorder="positive" triforcevalue="{{list.info.avgDifference}}">{{list.info.avgDifference | number:2}}</td></tr>
                                <tr><td class="infoBlockTitle">Per day</td><td class="estimated">{{list.info.pointsPerDayEstimate | number:2}}</td><td class="used">{{list.info.pointsPerDayUsed | number:2}}</td><td class="triforce" triforceorder="positive" triforcevalue="{{list.info.differencePerDay}}">{{list.info.differencePerDay | number:2}}</td></tr>
                                <tr ng-hide="list.hide.planned"><td class="infoBlockTitle">&nbsp;</td><td class="infoBlockTitle">Total</td><td class="infoBlockTitle">No. Days</td><td class="infoBlockTitle">Per Day</td></tr>
                                <tr ng-hide="list.hide.planned"><td class="infoBlockTitle">{{language.planned}}</td><td>{{list.info.planned | number:2}}</td><td>{{list.info.sprintLength}}</td><td class="triforce" triforceorder="positive" triforcevalue="{{list.info.pointsPerDayUsed - list.info.plannedPerDay}}">{{list.info.plannedPerDay | number:2}}</td></tr>
                                <tr ng-hide="list.hide.unexpected"><td>&nbsp;</td><td class="infoBlockTitle">Cards</td><td class="infoBlockTitle">Points</td><td>&nbsp;</td></tr>
                                <tr ng-hide="list.hide.unexpected"><td class="infoBlockTitle">Unexpected</td><td>{{list.info.unexpectedCards | number:0}}</td><td>{{list.info.unexpectedWork | number:2}}</td><td>&nbsp;</td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr ng-repeat="row in lists.rows">
                    <td ng-repeat="list in lists.lists">
                        <at-witbadge info="list.cards[row]"></at-witbadge><div><a target="_blank" href="{{list.cards[row].url}}">{{list.cards[row].name}}</a></div>
                        <div><div ng-repeat="member in list.cards[row].members"><small><a class="teamMember" href="{{member.url}}" target="_blank">{{member.fullName}}</a></small></div></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
