@linkColour: #4174ba;
@teamMemberLinkColour: #4d90ed;
@estimatedColour: #ae8bf1;
@usedColour: #f18bbd;
@subtleFontColour: #b5b5b5;
@green: #69b769;
@red: #e05f5f;
@fontColour: #535353;

body {
    color: @fontColour;
}

a {
    color: @linkColour;
}

a:hover {
    color: darken(@linkColour,10%);
}

a.teamMember {
    color: @teamMemberLinkColour;
}

a.teamMember:hover {
    color: darken(@teamMemberLinkColour,10%);
}

.badge {
    &Estimate {
        background-color: @estimatedColour;
    }

    &Used {
        background-color: @usedColour;
    }
}

.badgeContainer {
    float: right;
}

.date {
    font-size: x-small;
    color: @subtleFontColour;
}

table.infoBlock {
    tr td {
        padding-right: 10px;
        font-size: small;
    }

    .infoBlockTitle {
        font-size: x-small;
        color: @subtleFontColour;
    }

    td.estimated {
        color: @estimatedColour;
    }

    td.used {
        color: @usedColour;
    }

    td.green {
        color: @green;
    }

    td.red {
        color: @red;
    }
}

.iconButton {
    margin-left: 10px;
    margin-right: 10px;

    &Refresh {
        color: @green;
    }
}
